@import "https://fonts.googleapis.com/css?family=Press+Start+2P";

/* Disabled Scrolling */
html, body {
	margin: 0; height: 100%;
	overflow: hidden
}

#container {
	margin: 30px auto auto auto;
	width: 500px;
	height: 390px;
	border: solid #e3e3e3 1px;
}
#game {
	width: 170px;
	height: 340px;
	/*border: solid #c3c3c3 1px;*/
	border-right: solid #e6e6e6 1px;
	border-bottom: solid #e6e6e6 1px;

	position: relative;
	margin: 15px auto auto auto;

	background-size: 17px 17px;
    background-image: linear-gradient(to right, #e6e6e6 1px, transparent 1px), linear-gradient(to bottom, #e6e6e6 1px, transparent 1px);

}
#left-ui {
	float: left;
	width: 135px;
	height: 66px;
	border: solid #e3e3e3 1px;
	margin: 7px 0px 0px 7px;
	padding: 4px 0px 4px 0px;
}
#score, #speed, #time {
	margin: 0px 0px 0px 10px;
	font-family: calibri;
	font-size: 17px;
}
#right-ui {
	position: relative;
	width: 125px;
	height: 307px;
	float: right;
	bottom: 349px;
	right: 17px;
	border: solid #e3e3e3 1px;
}
#next-txt {
	display: block;
	font-family: "Press Start 2P";
	font-size: 13px;
	margin: 5px 0px 5px 19px;
}
#next1, #next2, #next3 {
	position: relative;
	border: solid #e3e3e3 1px;
	margin: 0px 19px 0px 19px;
}
#title, #title2 {
	position: absolute;
	font-family: "Press Start 2P";
	margin-top: 50px;
	width: 172px;
	text-align: center;
}

#title { font-size: 25px; }
#title2 { font-size: 17px; }

#controls, #score-list {
	position: absolute;
	font-family: "Press Start 2P";
	width: 172px;
}
#controls {
	margin-top: 85px;
	text-align: center;
	font-size: 9px;
}
#score-list {
	margin-top: 75px;
	font-size: 12px;
}

ol { margin-left: 20px; }
li { margin: 1px 0px 1px 0px; }

#start, #info, #back, #scores-btn, #reset {
	position: absolute;
	padding: 0;
	width: 125px;
	height: 37px;
	font-family: "Press Start 2P";
	color: #f1f1f1;
	
	border: solid #c3c3c3 1px;
}

#start {
	font-size: 18px;
	background: #039620;
	margin: 100px 23px 0px 23px;
}
#info, #scores-btn, #back, #reset {
	font-size: 17px;
}
#info {
	background: #0577fa;
	margin: 186px 23px 0px 23px;
}
#scores-btn {
	background: #fa4a1e;
	margin: 143px 23px 0px 23px;
}
#back {
	background: #fa4a1e;
	margin: 272px 23px 0px 23px;
}
#reset {
	background: #fa4a1e;
	margin: 254px 23px 0px 23px;
}

#start:focus {
	background: #04bb28;
}
#info:focus {
	background: #3792fb;
}
#scores-btn:focus {
	background: #fb8350;
}
#back:focus, #reset:focus {
	background: #fb7250;
}

#notification, #notification2 {
	position: absolute;
	width: 172px;
	font-family: "Press Start 2P";
	text-align: center;
}
#notification {
	top: 150px;
	font-size: 14px;
}
#notification2 {
	top: 177px;
	font-size: 9px;
}
#warn-container {
	position: absolute;
	margin-top: 185px;
	width: 172px;
}
#yes-btn, #no-btn {
	color: #f1f1f1;
	width: 43px;
	height: 17px;
	font-family: "Press Start 2P";
	font-size: 10px;
	padding: 0;
	border: none;
}
#yes-btn {
	margin-left: 33px;
	float: left;
	background: #039620;
}
#no-btn {
	margin-right: 33px;
	float: right;
	background: #fa4a1e;
}
#yes-btn:focus {
	background: #04bb28;
}
#no-btn:focus {
	background: #fb7250;
}
#warning {
	width: 172px;
	margin: 0px 0px 5px 0px;
	text-align: center;
	font-family: "Press Start 2P";
	font-size: 9px;
}








