@import "https://fonts.googleapis.com/css?family=Press+Start+2P";

#container {
	margin: auto;
	width: 500px;
	height: 400px;
	border: solid #e3e3e3 1px;
}
#game {
	width: 170px;
	height: 340px;
	/*border: solid #c3c3c3 1px;*/
	border-right: solid #e6e6e6 1px;
	border-bottom: solid #e6e6e6 1px;

	position: relative;
	margin: 15px auto auto auto;

	background-size: 17px 17px;
    background-image: linear-gradient(to right, #e6e6e6 1px, transparent 1px), linear-gradient(to bottom, #e6e6e6 1px, transparent 1px);

}
#left-ui {
	float: left;
	width: 135px;
	border: solid #e3e3e3 1px;
	margin: 7px 0px 0px 7px;
	padding: 4px 0px 4px 0px;
}
#score, #speed, #time {
	margin: 0px 0px 0px 10px;
	font-family: calibri;
	font-size: 17px;
}
#speed {
	
}
#right-ui {
	position: relative;
	width: 125px;
	height: 307px;
	float: right;
	bottom: 315px;
	right: 17px;
	border: solid #e3e3e3 1px;
}
#next-txt {
	display: block;
	font-family: calibri;
	margin-left: 19px;
}
#next1, #next2, #next3 {
	position: relative;
	border: solid #e3e3e3 1px;
	margin: 0px 19px 0px 19px;
}
#title {
	position: absolute;
	font-family: "Press Start 2P";
	font-size: 25px;
	top: 50px;
	left: 9px;
}