@import "https://fonts.googleapis.com/css?family=Press+Start+2P";

#container {
	margin: auto;
	width: 500px;
	height: 400px;
	border: solid #e3e3e3 1px;
}
#game {
	width: 170px;
	height: 340px;
	/*border: solid #c3c3c3 1px;*/
	border-right: solid #e6e6e6 1px;
	border-bottom: solid #e6e6e6 1px;

	position: relative;
	margin: 15px auto auto auto;

	background-size: 17px 17px;
    background-image: linear-gradient(to right, #e6e6e6 1px, transparent 1px), linear-gradient(to bottom, #e6e6e6 1px, transparent 1px);

}
#left-ui {
	float: left;
	width: 135px;
	height: 66px;
	border: solid #e3e3e3 1px;
	margin: 7px 0px 0px 7px;
	padding: 4px 0px 4px 0px;
}
#score, #speed, #time {
	margin: 0px 0px 0px 10px;
	font-family: calibri;
	font-size: 17px;
}
#right-ui {
	position: relative;
	width: 125px;
	height: 307px;
	float: right;
	bottom: 320px;
	right: 17px;
	border: solid #e3e3e3 1px;
}
#next-txt {
	display: block;
	font-family: "Press Start 2P";
	font-size: 13px;
	margin: 5px 0px 5px 19px;
}
#next1, #next2, #next3 {
	position: relative;
	border: solid #e3e3e3 1px;
	margin: 0px 19px 0px 19px;
}
#title, #title2 {
	position: absolute;
	font-family: "Press Start 2P";
	margin-top: 50px;
	width: 172px;
	text-align: center;
}
#title {
	font-size: 25px;
}
#title2 {
	font-size: 17px;
}
#controls {
	position: absolute;
	text-align: center;
	margin-top: 85px;
	font-family: "Press Start 2P";
	font-size: 9px;
	width: 172px;
}
#start, #info, #back {
	position: absolute;
	padding: 0;
	width: 125px;
	height: 37px;
	font-family: "Press Start 2P";
	font-size: 20px;
	color: #f1f1f1;
	
	border: solid #c3c3c3 1px;
	border-radius: 0px;
}

#start {
	background: #039620;
	margin: 100px 23px 0px 23px;
}
#info {
	background: #0577fa;
	margin: 143px 23px 0px 23px;
}
#back {
	background: #fa4a1e;
	margin: 272px 23px 0px 23px;
}

#start:focus {
	background: #04bb28;
}
#info:focus {
	background: #3792fb;
}
#back:hover {
	background: #fb7250;
}

#notification, #notification2 {
	position: absolute;
	width: 172px;
	font-family: "Press Start 2P";
	text-align: center;
}
#notification {
	top: 150px;
	font-size: 13px;
}
#notification2 {
	top: 175px;
	font-size: 7px;
}
#yes-btn, #no-btn {
	position: absolute;
	margin-top: 250px;
	color: #f1f1f1;
	width: 43px;
	height: 17px;
	font-family: "Press Start 2P";
	font-size: 10px;
	padding: 0;
	border: none;
}
#yes-btn {
	left: 33px;
	background: #039620;
}
#no-btn {
	right: 33px;
	background: #fa4a1e;
}
#yes-btn:focus {
	background: #04bb28;
}
#no-btn:focus {
	background: #fb7250;
}
#warning {
	position: absolute;
	width: 172px;
	margin-top: 215px;
	text-align: center;
	font-family: "Press Start 2P";
	font-size: 9px;
}








